<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <title>Image Prediction using PyTorch</title>
  </head>
  <body class="text-center">
    <div class="pages">
        <a href="/">Home</a>
        <a href="/image_classifier">Image classifier</a>
        <a href="/sentiment_analysis">Sentiment analysis</a>
    </div>

    <h1>Your AI helper App</h1>
    <p>This web allows you to perform image multi-class classification and sentiment analysis tasks.</p>
    

  </body>
</html>

